
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #fff;
}

li {
    list-style-type: none;
    padding: 10px 20px;
}

.header-banner-section {
   background-color: bisque; 
   padding: 3.75rem 15rem;
}

.logo h3{
    font-size: 3rem;
    margin-top: 5px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    font-size: 2rem;
    margin-top: 1rem;
}

.menu li:hover {
    background-color: gray;
    color: #fff;
}

.tittle {
    text-align: center;
    margin: 40px 10px;
}

.tittle h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.5rem;
}

.tittle p {
    color: #727272;
}

.banner-img img{
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

.btn-1 {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: coral;
    border: none;
    border-radius: .3rem;
    font-size: 1.3rem;
}

.btn-1:hover {
    background-color: crimson;
    color: #fff;
}

/* meadia-query-header-section */
@media screen and (max-width: 576px) {
    .header-banner-section {
        background-color: lawngreen;
        padding: .5rem 2rem;
     }

     .nav-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo h3 {
        padding-top: 2rem;
    }

    .logo h3 {
        margin-top: .2rem;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .header-banner-section {
        padding: .5rem 2rem;
    }

    .nav-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tittle h1 {
        font-style: italic;
    }

    .tittle p {
        font-style: italic;
    }
}

@media screen and (min-width: 993px) and (max-width:1200px) {

    .header-banner-section {
        padding: 2rem 5rem;
        max-width: 1200px;
     }
}

