
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #fff;
}

li {
    list-style-type: none;
    padding: 10px 20px;
}

.header-banner-section {
   background-color: bisque; 
   padding: 3.75rem 15rem;
}

.logo h3{
    font-size: 3rem;
    margin-top: 5px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    font-size: 2rem;
    margin-top: 1rem;
}

.menu li:hover {
    background-color: gray;
    color: #fff;
}

.tittle {
    text-align: center;
    margin: 40px 10px;
}

.tittle h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 1.5rem;
}

.tittle p {
    color: #727272;
}

.banner-img img{
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

.btn-1 {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: coral;
    border: none;
    border-radius: .3rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-1:hover {
    background-color: crimson;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
}


.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-images img {
    width: 18rem;
}

.team-images {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.3rem;
    border-radius: .8rem;
    margin-right: 5rem;
}

.team-content h2{
    font-size: 2.8rem;
}

.quick {
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.team-content p {
    margin-top: 3rem;
    text-align: justify;
    color: #727272
}

.features-container {
    display: flex;
    padding: 3rem;
    gap:5rem;
}

/* .features-img {
    position: relative;
} */

.btn-2 {
    position: relative;
    top: -4.5rem;
    left: -4.5rem;
    z-index: 1;
    padding: 6rem;
    background-color: #FF900E;
    color: #fff;
    border: 0;
    border-radius: .4rem;
}

.features-content {
    margin-top: 2.5rem;
}

.heading-features h2{
    border-left: .5rem solid #FF900E;
    padding-left: 10px;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.heading-features p {
    text-align: justify;
    color: gray;
}

.item {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.card-text h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.card-text p {
    color: gray;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.card-deatils{
   display: flex;
   justify-content: space-around;
}

.card {
    text-align: center;
    border: 1px solid red;
    padding: 4.5rem;
    border-radius: .3rem;
}


.card img {
    font-size: 1.5rem;
}

.card p {
    font-size: 3em;
}

.card-tittle {
    font-size: 4rem;
}



/* meadia-query-header-section */
@media screen and (max-width: 576px) {
    .header-banner-section {
        background-color: lawngreen;
        padding: .5rem 2rem;
     }

     .nav-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo h3 {
        padding-top: 2rem;
    }

    .logo h3 {
        margin-top: .2rem;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .header-banner-section {
        padding: .5rem 2rem;
    }

    .nav-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tittle h1 {
        font-style: italic;
    }

    .tittle p {
        font-style: italic;
    }
}

@media screen and (min-width: 993px) and (max-width:1200px) {

    .header-banner-section {
        padding: 2rem 5rem;
        max-width: 1200px;
     }
}

/* meadia-query-team-section */

@media screen and (max-width: 576px) {
    .team-container {
        flex-direction: column-reverse;
    }
    
    .team-images {
        grid-template-columns: 1fr 1fr;
        padding-left: 4rem;
        align-items: center;
    }

    .team-images img {
        width: 100%;
    }

     .team-content {
        text-align: center;
    }

    .team-content p {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }

    .team-content h2:first-child {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .team-container {
        flex-direction: column;
    }

    .team-images {
        grid-template-columns: 1fr 1fr;
        padding-left: 2rem;
    }

    .team-content {
        text-align: center;
        margin-top: 2rem;
    }

    .team-content p {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }

    .team-images img {
        width: 100%;
    }
}
/* meadia-querry-features-section */
@media screen and (max-width: 576px) {
    .features-container {
        flex-direction: column;
    }

    .features-img img {
        width: 100%;
    }

    .item {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .features-container {
        flex-direction: column-reverse;
    }

    .features-img img {
        width: 100%;
    }

    .item {
        margin-top: 2rem;
    }
}